<h1>Reset Password</h1>
<div class="container text-center">
    <form [formGroup]="resetOne" (submit)="resetStepOne()">
        <div class="row">
            <div class="col-lg-6">
                Email ID
            </div>
            <div class="col-lg-6">
                <input type=text formControlName="email" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" [disabled]="!resetOne.valid">Send Secret to email</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{errorMessageOne}}
            </div>
        </div>
    </form>
    <form [formGroup]="resetTwo" (submit)="resetStepTwo()">
        <div class="row">
            <div class="col-lg-6">
                Secret
            </div>
            <div class="col-lg-6">
                <input type="text" formControlName="secret" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                New Password
            </div>
            <div class="col-lg-6">
                <input type="text" formControlName="newPass" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" [disabled]="!resetTwo.valid">Reset Password</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            {{errorMessageTwo}}
        </div>
    </div>
</div>
