<h1>Register</h1>

<div class="contianer text-center">
    <form [formGroup]="registerForm" (submit)="register()">
        <div class="row">
            <div class="col-lg-6">
                Email ID
            </div>
            <div class="col-lg-6">
                <input type=text formControlName="email" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                Password
            </div>

            <div class="col-lg-6">
                <input type="password" formControlName="pass" />
            </div>
        </div>
        <br>
        <div class="class">
            <div class="col-lg-12">
                <button type="submit" [disabled]="!registerForm.valid">Register</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            {{errorMessage}}
        </div>
    </div>
</div>
